@font-face {
  font-family: "poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
}

* {
  border: 0;
  margin: 0;
  background-size: 100%;
}

body {
  background-color: #1f1d36;
  height: 50rem;
}

.navbar {
  background-color: #3f3351;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}

.navbar a {
  color: #e9a6a6;
  text-decoration: none;
}

.weather {
  outline: #e9a6a6 solid 2px;
  transition: 0.5s;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 70px;
}

.weather:hover {
  background-color: #e9a6a6;
  color: #1f1d36;
}

.intro-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  color: #e9a6a6;
  place-items: center;
}
