@font-face {
  font-family: "poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
}

* {
  border: 0;
  margin: 0;
  background-size: 100%;
}

body {
  background-color: #1f1d36;
  color: #e9a6a6;
}

.navbar {
  background-color: #3f3351;
  color: #e9a6a6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}

.navbar-main span {
  padding-left: 10px;
  padding-right: 10px;
}

span a {
  color: #e9a6a6;
}

.weather {
  transition: 0.5s;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
}

.weather:hover {
  background-color: #864879;
}
