@font-face {
    font-family: "poppins";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
}

* {
    border: 0;
    margin: 0;
    background-size: 100%;
}

.navbar {
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-container {
    list-style-type: none;
    display: flex;
    
}

li button {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    font-family: 'poppins';
    width: 50%
}
.status {
    background-color: aqua;
}